.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.list__item {
  list-style-type: none;
  counter-increment: item;
}

.list__item:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: #f9dd94;
  color: #7eb4e2;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
